[package]
name = "twitter-stream"
version = "0.9.0"
authors = ["Daiki Mizukami <tesaguriguma@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["twitter"]
categories = ["api-bindings"]
homepage = "https://github.com/tesaguri/twitter-stream-rs"
repository = "https://github.com/tesaguri/twitter-stream-rs"
documentation = "https://docs.rs/twitter-stream/0.8.0/twitter_stream/"
description = """
A library for listening on Twitter Streaming API.
"""

[dependencies]
bytes = "0.4.4"
cfg-if = "0.1"
futures = "0.1.4"
http = "0.1.11"
hyper = { version = "0.12", default-features = false }
libflate = "0.1.15"
oauth1-request = "0.2.1"
oauth1-request-derive = "0.2"
string = "0.2"
tokio-io = "0.1"
tokio-timer = "0.2.6"
egg-mode = { version = "0.13", optional = true }
hyper-tls = { version = "0.3", optional = true }
oauthcli = { version = "1", optional = true }
static_assertions = "0.3"
serde = { version = "1", optional = true, features = ["derive"] }
tokio = { version = "0.1", optional = true }
tweetust = { version = "0.9", optional = true }

[features]
default = ["runtime", "tls"]
runtime = ["hyper/runtime", "tokio"]
tls = ["hyper-tls", "runtime"]
use-tweetust = ["oauthcli", "tweetust"]

[[example]]
name = "echo_bot"
required-features = ["serde", "use-tweetust"]

[dev-dependencies]
version-sync = "0.8"
# examples/echo_bot
serde_json = "1"
tweetust = "0.9"
